<div class="livre-panier">
    <div class="ajout-livre-panier">
        <div class="imglivre"><img 
        src="/uploads/{{livre.url_image}}" 
        alt="Img livres"></div>
        <div class="container-details-ajout-livre">
            <h1>{{livre.titre}}</h1>
            <div>
                 <input type="hidden" id="livreid" value="{{livre.id_livre}}">
            </div>
            <div class="pricing">
                <span class="original-price">$10.00</span>
                <span class="discounted-price">CAD {{livre.prix}}</span>
            </div>
            <p class="description">
                {{livre.description}}
            </p>
            <div class="quantity-control">
                <button class="quantity-btn minus">-</button>
                <input type="text" class="quantity" value="1" readonly>
                <button class="quantity-btn plus">+</button>
            </div>
            <button class="add-to-basket-button">Ajouter au maintenant</button>
            <div class="details">
                <p><strong>SKU:</strong>{{livre.isbn}}</p>
                <p><strong>Categories:</strong> eBook, Entreprenariat</p>
            </div>
            <div>
                <input type="hidden" id="id_utilisateur" value="{{user.id_utilisateur}}">
            </div>
        </div>
   </div>
</div>
