<div class="cardLivreALaUne">
    <div class="card-livre-title">
        <h1>Partez en aventure et decouvrez nos livres gratuit à la une</h1>
    </div>
    <div class="card-content">
        {{#each livres}}
        <a href="/livre/{{this.id_livre}}"> 
        <div class="livre-a-laune">
            <div class="header-livre-a-laune">
                <div class="imglivre"><img
                        src="/uploads/{{this.url_image}}.png"
                        alt="Img" /></div>
                <h2>{{this.titre}}</h2>
            </div>
            <div class="content-livre-a-laune">
                <p>{{truncateDescription this.description}}</p>
                <div>
                 <a href="/livre/{{this.id_livre}}"><button class="btn-livre-a-laune btn btn-outline-primary">Lire la suite</button></a>
                 <a href="#"><i class="fa-regular fa-thumbs-up"></i></a>
                 <a href="#"><i class="fa-regular fa-thumbs-down"></i></a>
               {{#if ../itOption}}
                  <a href="/modifier-un-livre/{{this.id_livre}}"><i class="fa-regular fa-pen-to-square"></i></a>
                  <a href="#" class="supprimer-btn" data-id="{{this.id_livre}}"><i class="fa-regular fa-trash-can"></i></a> 
               {{/if}}
                 </div>
            </div>
        </div>
        </a>
        {{/each}}
    </div>
</div>