<div class="cart-container">
    <div class="cart-left">
        <h2>Mon panier</h2>
        <div class="cart-items">
            {{#each mesCommades}}
                <div class="cart-item">
                    <img src="/uploads/{{this.livre.url_image}}" alt="Livre {{this.id_livre}}">
                    <div class="item-details">
                        <p class="item-title">{{this.livre.titre}}</p>
                        <div class="item-qty-price">
                            <p class="item-qty">qty: {{this.quantite}}</p>
                            <p class="item-price">{{this.livre.prix}} CAD</p>
                        </div>
                    </div>
                    <button data-id="{{this.id_panier}}"  class="remove-item">x</button>
                </div> 
            {{/each}}

        </div>
    </div>

    <div class="cart-summary">
        <label for="promo-code">Saisir votre code promo</label>
        <input type="text" id="promo-code">
        <p class="subtotal">Sous-total: <span>{{total}} CAD</span></p>
        <p class="shipping">Tax Supplementaire: <span>$0.00</span></p>
        <p class="total">Total: <span>{{total}} CAD</span></p>
        <button class="checkout-button">P a i e</button>
    </div>
</div>
