<div class="book-style-one">
        <div class="book-container">
            <div class="book-description">
                <div class="book-title">
                    <h1>{{livre.titre}}</h1>
                    <p>{{livre.description}}</p>
                </div>
                <div class="book-details">
                    <div>
                         {{#if livre.est_gratuit}}
                                 <button class="read-book" id="read-book-btn" 
                                    data-book-id="{{livre.id_livre}}" 
                                    data-book-title="{{livre.titre}}">
                                    Apercu
                                </button>
                          {{/if}}
                          
                        <span class="price">PRICE: {{livre.prix}}CAD</span>
                    </div>
                    <div> 
                        {{#unless livre.est_gratuit}}
                         {{#unless user}} <a href="/connexion" ><button class="add-to-cart">Ajouter au panier</button></a>{{/unless}} 
                         {{#if user}}  <button class="buy-now">Achetez maintenant</button> {{/if}}
                         {{#if user}} <a href="/details-ajout-livre/{{livre.id_livre}}"><button class="add-to-cart">Ajouter au panier</button></a> {{/if}}
                         {{/unless}}
                        {{#if livre.est_gratuit}}
                        <a href="/uploads/{{livre.document}}" download>
                            <button class="download">Telecharger</button>
                        </a>
                        {{/if}}
                    </div>
                   
                </div>
            </div>
            <div class="book-image">
                <img src="/uploads/{{livre.url_image}}"
                    alt="Aucune image">
            </div>
    </div>
</div>
