<div class="livres">
    <div class="livres-container">
        <div class="livres-title">
            <h1>Nos Livres</h1>
        </div>
        <div class="list-des-livres">
            {{#each livres}}
            <a href="/livre/{{this.id_livre}}" class="link-livre">
                <div class="list-des-livres-item">
                    <div class="header-livre-a-laune">
                        <div class="imglivre"><img
                                src="/uploads/{{this.url_image}}.png"
                                alt="Img" /></div>
                    </div>
                    <div class="content-livre-a-laune">
                        <h2>{{this.titre}}</h2>
                        <p>{{truncateDescription this.description}}</p>
                        <a href="/livre/{{this.id_livre}}"><button class="btn-livre-a-laune btn btn-outline-primary">Lire la suite</button></a>
                    </div>
                </div></a>
            {{/each}}
        </div>
    </div>
</div>